@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&display=swap');

/* Universally true styling*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    background-color: #bbcbb6;
    color:rgb(255, 255, 255);
}

/* Styling for all h1 tags*/
h1 {
    font-size: 25px;
    color: #333;
    text-align: center;

    padding: 10px 10%;
}

/* Media elements*/
.media {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media li {
    font-weight: 400;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    display: inline-flex;
    margin: 10px;
}

.media li, a {
    transition: all 0.3s ease 0s;
    color: #333;
}

.media li a:hover {
    transition: all 0.3s ease 0s;
    text-decoration: underline;
    color: #333;
  
}
/* Header elements*/
header {
    background-color:#dbe8d7;
}

/* Footer elements*/
footer {
    text-align: center;

    font-weight: 400;
    font-size: 16px;
    color: #333;
    background-color: #dbe8d7;
    margin-top: auto;

}
/* Main elemnents*/
main {
    display: inline-flex;
    text-align: left;
}
/* Styling Headers For Projects and About*/
hr {
   color:rgb(255, 255, 255);
   border:solid 0.5px;
}
.aboutSection {
    background-color: #dbe8d7;
}
.aboutHeader {
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
    font-size: 35px;
}
.aboutblurb {
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
    font-size: 20px;
}
.projectHeader {
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
    font-size: 35px;
}
.projectblurb {
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
    font-size: 20px;
}


main p {
    font-size: 35px;
    text-align:left;
    padding-left: 100px;
    padding-top: 150px;
}
body {
   
    display: flex ;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}
img {
    background: transparent;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;

}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
 
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    display: block;
  }
  /* Style the hamburger menu */
  .topnav a.icon {

    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  /* Add a grey background color on mouse-over */
.topnav a:hover {
    text-decoration: underline;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    
    color: white;
  }

  .gradient {
 background-image: linear-gradient(to right, white, #bbcbb6);
 height: 20%;
 backdrop-filter: blur(100px);
  }
  #secondGradient {
 
    background-image: linear-gradient(to left, white, #bbcbb6);
    height: 20%;
  }
